openapi: 3.1.0
servers:
  - description: Fleximize Production
    url: https://api.fleximize.com/api/v2
info:
  description: >
    Welcome to the Fleximize API!



    **Important Notice:**



    By submitting application, you confirm that you have obtained the consent of

    all individuals associated with it (directors, personal guarantors,

    mortgagors and shareholders etc). The personal information we have collected

    from you will be shared with fraud prevention agencies. This is to prevent

    fraud and money laundering and to verify the identity of all individuals

    supplied and associated with this application. If fraud is detected, you and

    these individuals could be refused certain services, finance and employment.

    Further details on the processing of information and the individual’s data

    processing rights can be found [here](https://www.cifas.org.uk/fpn).




    ### Integration notes:



    * When onboarding, please ensure you set the “***is_test***” flag to
    “***true***” and only set it to “***false***” when you are ready to send
    live leads. Setting the flag to true will send applications to Fleximize's
    production database, but automatically mark the application as a test, and
    prevent credit checks from being run on it.

    * Please note that the test flag is designed for onboarding only, and should
    not be used for any other purpose.

    * Please also note that API calls are rate-limited to ***60 calls per
    minute***.



    ### How to Use This Documentation:


      * Expand an endpoint by clicking the arrow on the right-hand side.

        * When expanded, you will see:

          * **Example Value** – A sample request body showing how the payload should
            be structured.

          * **Schema** – Detailed information about each field, including:

            * The data type (string, integer, boolean, array, etc.)

            * Whether the field is required or optional

            * Any validation rules or constraints

            * Whether the field expects one of a predefined list of values


      * Some fields require values from a predefined list. For example, in
          **POST /application**, the `title_id` field must contain one of the
          supported values displayed in the Schema section. You may use any of the
          allowed values shown there when calling the endpoint.


    ### Retrieving Supported Values:


      Some endpoints return lists of supported values that must be used in other
        API calls.


      * **GET /application/document-types**

        Returns a list of all supported document types and their corresponding IDs.

        When this endpoint is called, it returns:

        * The supported document types

        * The unique ID associated with each document type


      * This information should then be used when calling:

          **POST /application/{application_id}/upload** to upload an application-related document.

        In the request body of this endpoint, the `document_type` parameter must
        match one of the IDs returned by the
        **GET /application/document-types** endpoint.


      * **GET /application/cancellation-reasons**

        Returns the list of supported cancellation reasons and their IDs. The
        `id` value is used as the `cancellation_reason_id` parameter when
        calling **POST /application/{application_id}/cancel**.


      * **GET /application/funded-elsewhere-lenders**

        Returns the list of supported lenders (and their IDs) used when an
        application is cancelled because it has been funded elsewhere. The `id`
        value is used as the `funded_elsewhere_lender_id` parameter when calling
        **POST /application/{application_id}/cancel**.


      * **GET /application/cancelled-rate-types**

        Returns the list of supported rate types (and their IDs) optionally
        supplied when an application is cancelled because it has been funded
        elsewhere. The `id` value is used as the `cancelled_rate_type_id`
        parameter when calling **POST /application/{application_id}/cancel**.



    ### Supported File Formats:
      Generally supported file formats include:

        bmp, doc, docx, gif, jpeg, jpg, pdf, png, xls, xlsx, xlx, heic, csv, msg, txt, eml




    ### Technical Support


    The Fleximize API is a self-service application, and all of the information
    you require to onboard should be collated below, however if you encouter any
    problems or have any questions and inquiries, please contact the development
    team using the link below. For all other non-technical enquiries, please
    contact your BDM.
  version: 2.1.0
  title: Fleximize Applications API
  contact:
    email: development@fleximize.com
paths:
  /get_token:
    post:
      summary: Gets authentication token
      description: |
        Gets authentication token using credentials.

          Token is valid for **7 days**. After that new token should be obtained using the same endpoint
      operationId: getToken
      security: []
      tags:
        - authorisation
      requestBody:
        description: >
          Fleximize uses API tokens to allow access to the API called JWT.


          All other Fleximize endpoints require authorization using the API token,
          which is expected to be included in all API requests to the server in
          an Auth Bearer token header.


          To get your token, call this endpoint first with your broker account login details.


        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/loginCredentials'
          application/json:
            schema:
              $ref: '#/components/schemas/loginCredentials'
      responses:
        '200':
          $ref: '#/components/responses/authToken'
        '401':
          $ref: '#/components/responses/Unautheticated'
  /application:
    post:
      summary: Submits loan application
      description: Submits loan application
      operationId: postApplication
      tags:
        - application
      requestBody:
        description: |
          New loan application can be submitted through this endpoint
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/application'
            encoding:
              company:
                contentType: application/json
      responses:
        '200':
          $ref: '#/components/responses/appSubmitted'
        '400':
          $ref: '#/components/responses/error'
        '401':
          $ref: '#/components/responses/Unautheticated'
        '422':
          description: >-
            This response indicates that the application has been blocked by our
            systems and cannot be accepted by Fleximize. This is for operational
            reasons rather than technical ones. If you see this response, please
            do not try to resubmit the application. If you require further
            information on the individual application, please contact Fleximize.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - This application cannot be accepted and details have not been saved.
  /application/{application_id}:
    get:
      summary: Get current application status by `application_id`
      description: Get current application status by `application_id`
      operationId: getApplicationStatus
      tags:
        - application
      parameters:
        - name: application_id
          in: path
          required: true
          description: application_id value returned in in the `/application` response
          schema:
            type: string
            examples:
              - flex1abcd2efg34hij
      responses:
        '200':
          description: Successful response from the server
          content:
            application/json:
              schema:
                type: object
                properties:
                  application_status:
                    allOf:
                      - $ref: '#/components/schemas/app_status'
                      - type: string
                      - description: Current application status
                      - examples:
                        - Approved
                  application_status_detail:
                    type: string
                    nullable: true
                    description: >-
                      More specific status detail, where one applies. Currently
                      returns `"Failed (Automated Checks)"` when an application
                      was declined by our automated scoring. Returns `null` when
                      no additional detail applies (in which case the standard
                      `application_status` value should be used).
                    examples:
                      - Failed (Automated Checks)
                  failed_cancelled_reason:
                    type: string
                    description: >-
                      This is optional field describing reason for loan being
                      failed or cancelled.
                  internal_score_status:
                    type: string
                    enum:
                      - PASSED
                      - FAILED
                      - REFERRED
                    description: >-
                      String describing if application passed, failed or have
                      been referred for manual review
                    examples:
                      - PASSED
                  internal_id:
                    type: string
                    description: Client internall ID
                  is_cancellable:
                    type: boolean
                    description: >-
                      Whether the application can be cancelled via the API (see
                      `POST /application/{application_id}/cancel`). Returns
                      `false` for Failed, Cancelled and Deposited applications.
                    examples:
                      - true
                  chance_of_approval:
                    type: string
                    nullable: true
                    enum:
                      - High
                      - Medium
                      - Low
                      - Decline
                      - null
                    description: >-
                      Indicative chance of approval for the application. Only
                      populated for applications under our latest lending policy
                      that are still under review; otherwise returns `null`.
                    examples:
                      - High
                  expected_rate_range:
                    type: string
                    nullable: true
                    description: >-
                      Indicative interest rate range for the application. Only
                      populated for applications under our latest lending policy
                      that are still under review; otherwise returns `null`.
                    examples:
                      - 5.25% to 7.50%
    post:
      summary: Link customer open banking data.
      description: >
        Provide AccountScore customer reference token.


        This can be found on AccountScore portal or through their API and it
        should provided as UIID (not internal reference)
      operationId: linkAccountScore
      tags:
        - application
      parameters:
        - name: application_id
          in: path
          required: true
          description: application_id value returned in in the `/application` response
          schema:
            type: string
            examples:
              - flex1abcd2efg34hij
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                  minimum: 36
                  maximum: 36
                  description: AccountScore Customer Reference
                  examples:
                  - "12345678-1111-2222-94e6-c0eaf2e052ef"
      responses:
        '200':
          description: Successful response from the server
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: boolean
                    examples:
                      - true
                    description: >-
                      Returns 'true' if application have been linked correctly
                      and 'false' on failure.
        '400':
          description: >
            If aplication is not found or user is not set with us to provide
            AccountScore data, error response is returned.


            If you want to be set up to share AccountScore with Fleximize then
            please contact us.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: boolean
                    examples:
                      - false
                    description: >-
                      Returns 'true' if application have been linked correctly
                      and 'false' on failure.
  /application/{application_id}/cancel:
    post:
      summary: Cancel an open application
      description: >
        Cancel an open application.


        Only applications that can currently be cancelled may be cancelled — in
        practice those still "Under Review". Failed, Cancelled and Deposited
        applications cannot be cancelled (see the `is_cancellable` field on
        `GET /application/{application_id}`).


        A `cancellation_reason_id` is required and must be one of the IDs
        returned by `GET /application/cancellation-reasons`.


        When the cancellation reason is **"Cancelled - Funded Elsewhere"** (ID
        `18`), additional details about the alternative funding must be
        supplied — see the request body schema for the conditionally required
        fields.
      operationId: cancelApplication
      tags:
        - application
      parameters:
        - name: application_id
          in: path
          required: true
          description: application_id value returned in in the `/application` response
          schema:
            type: string
            examples:
              - flex1abcd2efg34hij
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cancelApplication'
      responses:
        '200':
          description: Application cancelled successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    examples:
                      - Application cancelled successfully.
        '400':
          description: >-
            Validation error. Returned when the request body fails validation
            (for example a missing or invalid `cancellation_reason_id`, or a
            missing `cancelled_lender_text` when the selected lender is
            "Other").
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    description: >-
                      Map of field name to an array of validation error
                      messages.
                    additionalProperties:
                      type: array
                      items:
                        type: string
                    examples:
                      - cancellation_reason_id:
                          - The selected cancellation reason id is invalid.
        '401':
          $ref: '#/components/responses/Unautheticated'
        '403':
          description: The application belongs to a different partner.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - You do not have permission to cancel this application.
        '404':
          description: Application not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Application not found.
        '409':
          description: The application cannot be cancelled in its current state.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - This application cannot be cancelled in its current state.
  /application/cancellation-reasons:
    get:
      summary: Gets list of supported cancellation reasons
      description: >
        Gets the list of supported cancellation reasons. Each `id` returned is
        used as the `cancellation_reason_id` parameter in the
        `POST /application/{application_id}/cancel` endpoint.
      operationId: getCancellationReasons
      tags:
        - application
        - cancellation
      responses:
        '200':
          description: Response with the list of supported cancellation reasons
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: Cancellation reason ID
                      examples:
                        - 18
                    label:
                      type: string
                      description: Cancellation reason description
                      examples:
                        - Cancelled - Funded Elsewhere
          links:
            cancellation_reason_id:
              description: >
                The `id` value returned in the response can be used as the
                `cancellation_reason_id` parameter in `POST
                /application/{application_id}/cancel`.
              operationId: cancelApplication
              parameters:
                cancellation_reason_id: $response.body#/0/id
        '401':
          $ref: '#/components/responses/Unautheticated'
  /application/funded-elsewhere-lenders:
    get:
      summary: Gets list of supported "funded elsewhere" lenders
      description: >
        Gets the list of supported lenders used when cancelling an application
        because it has been funded elsewhere. Each `id` returned is used as the
        `funded_elsewhere_lender_id` parameter in the
        `POST /application/{application_id}/cancel` endpoint.


        If the funding lender is not listed, select the "Other (Please Specify)"
        option and supply the lender name via the `cancelled_lender_text` field.
      operationId: getFundedElsewhereLenders
      tags:
        - application
        - cancellation
      responses:
        '200':
          description: Response with the list of supported lenders
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: Lender ID
                      examples:
                        - 2
                    lender:
                      type: string
                      description: Lender name
                      examples:
                        - Barclays
          links:
            funded_elsewhere_lender_id:
              description: >
                The `id` value returned in the response can be used as the
                `funded_elsewhere_lender_id` parameter in `POST
                /application/{application_id}/cancel`.
              operationId: cancelApplication
              parameters:
                funded_elsewhere_lender_id: $response.body#/0/id
        '401':
          $ref: '#/components/responses/Unautheticated'
  /application/cancelled-rate-types:
    get:
      summary: Gets list of supported cancelled rate types
      description: >
        Gets the list of supported rate types optionally supplied when
        cancelling an application because it has been funded elsewhere. Each
        `id` returned is used as the `cancelled_rate_type_id` parameter in the
        `POST /application/{application_id}/cancel` endpoint.
      operationId: getCancelledRateTypes
      tags:
        - application
        - cancellation
      responses:
        '200':
          description: Response with the list of supported rate types
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: Rate type ID
                      examples:
                        - 1
                    cancelledRateType:
                      type: string
                      description: Rate type description
                      examples:
                        - Fixed
          links:
            cancelled_rate_type_id:
              description: >
                The `id` value returned in the response can be used as the
                `cancelled_rate_type_id` parameter in `POST
                /application/{application_id}/cancel`.
              operationId: cancelApplication
              parameters:
                cancelled_rate_type_id: $response.body#/0/id
        '401':
          $ref: '#/components/responses/Unautheticated'
  /application/document-types:
    get:
      summary: Gets list of allowed document types to upload
      description: >
        Gets list of allowed document types to upload. Each of ID returned is
        used as "document_type" paremeter in "upload" endpoint
      operationId: getAllowedDocTypes
      tags:
        - application
        - documents
      responses:
        '200':
          description: Response with list of all alowed document types ID and description
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Document ID
                      examples:
                        - 1
                    type:
                      type: string
                      description: Document type description
                      examples:
                        - Bank Statement
          links:
            document_type:
              description: >
                The `id` value returned in the response can be used as the
                `document_type` parameter in `POST
                /application/{application_id}/upload`.
              operationId: postApplicationDocuments
              requestBody: $response.body#/0/id
              parameters:
                document_type: $response.body#/0/id
        '400':
          $ref: '#/components/responses/error'
        '401':
          $ref: '#/components/responses/Unautheticated'
  /application/{application_id}/upload:
    post:
      summary: Post application related document
      description: Post document related to application
      operationId: postApplicationDocuments
      tags:
        - application
        - documents
      parameters:
        - name: application_id
          in: path
          required: true
          description: application_id value returned in in the `/application` response
          schema:
            type: string
            examples:
              - flex1abcd2efg34hij
      requestBody:
        description: |
          New loan application documents can be uploaded through this endpoint
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - document_type
                - file
              properties:
                document_type:
                  type: integer
                  format: int32
                  description: >-
                    One of `id` values returned by `/application/document-types`
                    response
                  examples:
                    - 1
                file:
                  type: string
                  format: binary
                  description: Document file being uploaded
      responses:
        '200':
          $ref: '#/components/responses/ok'
        '400':
          $ref: '#/components/responses/error'
        '401':
          $ref: '#/components/responses/Unautheticated'
components:
  schemas:
    loginCredentials:
      title: Get token by credentials
      description: Login credentials object
      type: object
      required:
        - user_name
        - password
      properties:
        user_name:
          type: string
          maxLength: 255
          format: email
          description: Account username. Usually email address
          examples:
            - example@example.com
        password:
          description: Account password
          type: string
          format: password
          examples:
            - somepassword
    app_status:
      type: string
      enum:
        - Approved
        - Approved (Offer Expired)
        - Cancelled
        - Deposited
        - Failed
        - Under Review
        - Test
    cancelApplication:
      title: Cancel application object
      description: >
        Request body for cancelling an open application.


        `cancellation_reason_id` is always required. When it is `18`
        ("Cancelled - Funded Elsewhere") the additional funded-elsewhere fields
        described below become required; otherwise they are optional and may be
        omitted or set to `null`.
      type: object
      required:
        - cancellation_reason_id
      properties:
        cancellation_reason_id:
          type: integer
          enum:
            - 17
            - 18
            - 19
            - 30
            - 37
            - 38
            - 58
            - 77
            - 78
            - 79
            - 80
            - 84
          description: >-
            The reason for cancelling the application. Must be one of the `id`
            values returned by `GET /application/cancellation-reasons`. Use `18`
            ("Cancelled - Funded Elsewhere") to record that the customer was
            funded by another lender.
          examples:
            - 17
        funded_elsewhere_lender_id:
          type: integer
          nullable: true
          description: >-
            The lender that funded the customer. **Required when
            `cancellation_reason_id` is `18`.** Must be one of the `id` values
            returned by `GET /application/funded-elsewhere-lenders`. If the
            lender is not listed, use the "Other" option and supply
            `cancelled_lender_text`.
          examples:
            - 2
        cancelled_lender_text:
          type: string
          maxLength: 255
          nullable: true
          description: >-
            Free-text lender name. **Required when `funded_elsewhere_lender_id`
            refers to the "Other (Please Specify)" lender.** Otherwise optional.
          examples:
            - Some Other Lender Ltd
        cancelled_amount:
          type: number
          format: double
          nullable: true
          minimum: 0
          exclusiveMinimum: true
          description: >-
            Amount the customer was funded elsewhere. **Required (and must be
            greater than 0) when `cancellation_reason_id` is `18`.**
          examples:
            - 25000
        cancelled_term:
          type: integer
          nullable: true
          minimum: 1
          description: Term (in months) of the finance taken elsewhere. Optional.
          examples:
            - 24
        cancelled_rate:
          type: string
          maxLength: 20
          nullable: true
          description: Rate of the finance taken elsewhere. Optional.
          examples:
            - 6.5%
        cancelled_rate_type_id:
          type: integer
          nullable: true
          description: >-
            Rate type of the finance taken elsewhere. Optional. Must be one of
            the `id` values returned by `GET /application/cancelled-rate-types`.
          examples:
            - 1
        cancelled_payment_frequency:
          type: integer
          nullable: true
          enum:
            - 1
            - 2
            - 3
            - 4
          description: |
            Payment frequency of the finance taken elsewhere. Optional:
              * `1` - Daily
              * `2` - Weekly
              * `3` - Fortnightly
              * `4` - Monthly
          examples:
            - 4
        cancelled_regular_payment_amount:
          type: number
          format: double
          nullable: true
          minimum: 0
          exclusiveMinimum: true
          description: >-
            Regular payment amount of the finance taken elsewhere (must be
            greater than 0 when supplied). Optional.
          examples:
            - 1100
    application:
      title: Application object
      description: Application object
      type: object
      required:
        - business_type_id
        - company_name
        - title_id
        - first_name
        - last_name
        - phone
        - email
        - loan_amount
        - term
        - funding_urgency
        - loan_purpose_id
        - other_purpose
        - privacy_policy_consent
        - cra_checks_consent
        - refer_consent
        - company
      properties:
        is_test:
          type: boolean
          description: >-
            When set to true, the application will be automatically moved to
            test status, and will not reviewed or processed by the business.
            While test applications passed through the API are sent to our live
            systems, marking them as test will prevent credit searches from
            being run on the company and individuals supplied. As the
            application data from your test will be stored in our live database,
            we do recommend using dummy data where possible.
        business_type_id:
          type: integer
          enum:
            - 1
            - 2
            - 3
            - 4
          description: |
            Business Type:
              * `1` - Sole Trader
              * `2` - Non-Limited Partnership
              * `3` - Limited Company
              * `4` - Limited Partnership (LLP)

        company_name:
          type: string
          maxLength: 75
          description: Company Name
          examples:
            - Example Company Name
        registration_number:
          type: string
          maxLength: 8
          nullable: true
          description: Company Registration Number
          examples:
            - 12345678
        title_id:
          $ref: '#/components/schemas/title_id'
        first_name:
          $ref: '#/components/schemas/first_name'
        last_name:
          $ref: '#/components/schemas/last_name'
        phone:
          type: string
          minLength: 8
          maxLength: 80
          pattern: ^(0|\+)\d+$
          description: Applicant phone number
          examples:
            - '0123456789'
        email:
          type: string
          maxLength: 255
          format: email
          pattern: >-
            ^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$
          description: Applicant email address
          examples:
            - "example@example.com"
        loan_amount:
          type: number
          format: double
          minimum: 5000
          maximum: 500000
          description: Loan amount
          examples:
            - 30000
        term:
          type: integer
          minimum: 3
          maximum: 60
          description: Loan term
          examples:
            - 24
        funding_urgency:
          type: integer
          enum:
            - 1
            - 2
            - 3
          description: |
            How quick funds are required:
              * `1` - As soon as possible
              * `2` - Within a few weeks
              * `3` - I just want to see what's available

        loan_purpose_id:
          type: integer
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 9
            - 10
            - 11
            - 12
            - 13
            - 14
            - 15
            - 16
          description: |
            Loan purpose:
              * `1` - Hire staff
              * `2` - Management buyout
              * `3` - Marketing
              * `4` - Moving premises
              * `5` - Fulfil an order or contract
              * `6` - Pay a due bill
              * `7` - Pay HMRC
              * `8` - Pay staff
              * `9` - Purchase stock
              * `10` - Purchase equipment
              * `11` - Refinance debt
              * `12` - Refurbish premises
              * `13` - Upgrade website
              * `14` - Business expansion
              * `15` - Working capital / cash flow
              * `16` - Other (please specify)
        other_purpose:
          type: string
          minLength: 3
          maxLength: 1000
          description: Detailed purpose description is required in this field when loan_purpose_id field is 14, 15 or 16
        internal_id:
          type: string
          maxLength: 255
          description: Your internal ID
          examples:
            - AB123456
        notes:
          type: string
          maxLength: 255
          description: Notes
        privacy_policy_consent:
          type: boolean
          description: >-
            When set to true, you are confirming that your client has consented
            to Fleximize and its group of companies using their personal
            information in the ways described in the [Privacy
            Policy](https://fleximize.com/terms-of-use/privacy-policy) and
            [Terms of Website
            Use](https://fleximize.com/terms-of-use/privacy-policy).


            **Fleximize won't be able to process an application without
            _privacy_policy_consent_ set to true**
        cra_checks_consent:
          type: boolean
          description: >-
            When set to true you are confirming that your client authorises
            Fleximize to perform credit reference agency (CRA) searches on the
            business, directors, any individuals supplied as part of the
            application, and their financial associates. A record of this search
            will be recorded against all applicants and may be seen by other
            companies if they carry out a credit enquiry. Before submitting this
            application, please confirm that you have obtained the consent of
            all individuals concerned and provided them a copy of our [Privacy
            Policy](https://fleximize.com/terms-of-use/privacy-policy). For more
            information on how we and the CRAs use your information, please
            refer to our [Privacy
            Policy](https://fleximize.com/terms-of-use/privacy-policy).


            **Fleximize won't be able to process an application without
            _cra_checks_consent_ set to true**
        refer_consent:
          type: boolean
          description: >-
            If Fleximize are unable to provide the finance requested, this
            consent allows us to refer the credit application and personal
            details to our carefully selected panel of brokers and lenders to
            assist in obtaining credit.
        company:
          $ref: '#/components/schemas/company'
    company:
      type: object
      description: Object holding company data
      required:
        - monthly_sales
        - trading_date
        - same_address
        - registered_address
        - directors
      properties:
        vat_no:
          type: string
          maxLength: 15
          description: Company Vat Number
          examples:
            - GB999999973
        monthly_sales:
          type: number
          format: double
          description: Company monthly sales value
          examples:
            - 50000
        date_of_creation:
          type: string
          format: date
          description: 'Company incorporation date. Format: YYYY-MM-DD'
          examples:
            - '2012-12-12'
        trading_date:
          type: string
          format: date
          description: When company have started to trade
          examples:
            - '2012-12-12'
        same_address:
          type: boolean
          description: If is set to true, trading address is not required
        registered_address:
          $ref: '#/components/schemas/address'
        trading_address:
          $ref: '#/components/schemas/address'
        directors:
          type: array
          items:
            $ref: '#/components/schemas/person'
        shareholders:
          type: array
          items:
            $ref: '#/components/schemas/person'
    address:
      type: object
      required:
        - abode_name_no
        - street
        - town
        - postcode
      properties:
        abode_name_no:
          type: string
          maxLength: 250
          description: |
            Building Name or Number
            **Required for first director*
          examples:
            - 51
        street:
          type: string
          maxLength: 250
          description: |
            Street name
            **Required for first director*
          examples:
            - John Street
        street2:
          type: string
          maxLength: 250
          description: |
            Address second line
            **Required for first director*
          examples:
            - John Street
        town:
          type: string
          maxLength: 50
          description: |
            Town name
            **Required for first director*
          examples:
            - Ipswich
        county:
          type: string
          maxLength: 50
          description: |
            County name
            **Required for first director*
          examples:
            - Suffolk
        postcode:
          type: string
          maxLength: 20
          description: |
            Postocode
            **Required for first director*
          examples:
            - IP3 0AH
    person:
      allOf:
        - type: object
          description: Person object
          required:
            - first_name
            - last_name
            - date_of_birth
            - residential_type_id
          properties:
            title_id:
              $ref: '#/components/schemas/title_id'
            first_name:
              $ref: '#/components/schemas/first_name'
            last_name:
              $ref: '#/components/schemas/last_name'
            date_of_birth:
              type: string
              format: date
              description: 'Person date of birth. Format: YYYY-MM-DD'
              examples:
                - '1980-12-12'
            major_shareholder:
              type: boolean
              default: false
              description: Set to true if person holds 25% or more shares
            residential_type_id:
              type: integer
              enum:
                - 1
                - 2
                - 3
                - 4
              description: |
                Person Title:
                  * `1` - Homeowner
                  * `2` - Living with Partner
                  * `3` - Tenant
                  * `4` - Other
        - $ref: '#/components/schemas/address'
        - type: object
          required:
            - move_in_date
          properties:
            move_in_date:
              $ref: '#/components/schemas/move_in_date'
            previous_addresses:
              type: array
              items:
                allOf:
                  - type: object
                    description: |-
                      Person previous addresses.

                      *Required if move_in_date is not over 3 years ago*
                  - $ref: '#/components/schemas/address'
                  - type: object
                    required:
                      - move_in_date
                    properties:
                      move_in_date:
                        $ref: '#/components/schemas/move_in_date'
    title_id:
      type: integer
      enum:
        - 1
        - 2
        - 3
        - 4
        - 5
        - null
      nullable: true
      description: |
        Person Title:
          * `1` - Mr
          * `2` - Mrs
          * `3` - Miss
          * `4` - Ms
          * `5` - Dr
          * `null` - Unknown

    first_name:
      type: string
      maxLength: 80
      description: Person first name
      examples:
        - John
    last_name:
      type: string
      maxLength: 80
      description: Person last name
      examples:
        - Doe
    move_in_date:
      type: string
      format: date
      description: |
        Approximate move-in date. Format: YYYY-MM-DD

        **Required for first director*
      examples:
        - '1980-12-12'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    Unauthorized:
      description: Access token is missing or invalid
    Unautheticated:
      description: Invalid credentials
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                examples:
                  - Invalid credentials
    authToken:
      description: Returned authorisation token to use for all requests
      content:
        application/json:
          schema:
            type: object
            properties:
              token:
                type: string
                description: Bearer token
                examples:
                  - d290f1ee6c544b0190e6d701748f0851
    appSubmitted:
      description: Returns application ID and status
      content:
        application/json:
          schema:
            type: object
            properties:
              application_id:
                type: string
                description: Unique application ID
                examples:
                  - d290f1ee6c544b0190e6d701748f0851
              internal_score_status:
                type: string
                enum:
                  - PASSED
                  - FAILED
                  - REFERRED
                description: Internal checks status
                examples:
                  - PASSED
      links:
        application_id:
          $ref: '#/components/links/applicationId'
        path.application_id:
          description: >
            The `application_id` value returned in the response can be used as
            the `application_id` parameter in various application related
            requests.
          operationId: getApplicationStatus
          parameters:
            application_id: $response.body#/application_id
    error:
      description: Error response from server
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
    ok:
      description: OK response from server
      content:
        text/plain:
          schema:
            type: string
            examples:
              - File uploaded
  links:
    applicationId:
      description: >
        The `application_id` value returned in the response can be used as the
        `application_id` parameter in various application related requests.
      operationId: postApplicationDocuments
      parameters:
        application_id: $response.body#/application_id
security:
  - bearerAuth: []